:root {
  --color-bg: #181818;
  --color-sidebar: #202020;
  --color-header: #0D0D0D;
  --color-card: #202020;
  --color-post: #121212;
  --color-light: #EBEBEB;
  --color-dot: #C4C4C4;

  --color-text: #FFFFFF;
  --color-text-muted: #DEDEDE;
  --color-placeholder: rgba(255, 255, 255, 0.4);

  --color-blue: #3137C9;
  --color-blue-light: #107EFF;
  --color-red: #ED3024;

  --color-black: #0D0D0D;
  --color-dark: #1C1C1C;

  --font-main: "Roboto", sans-serif;

  --sidebar-width: 300px;

  --transition: 0.3s ease;
}